### Youtube data analysis

In [44]:
import pandas as pd
import numpy as np

In [45]:
df=pd.read_csv("INvideos.csv",parse_dates=[1,5])

In [20]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,kzwfHumJyYc,17.14.11,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...
1,10L1hZ9qa58,17.14.11,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12T15:48:08.000Z,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,https://i.ytimg.com/vi/10L1hZ9qa58/default.jpg,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...
2,N1vE8iiEg64,17.14.11,Eruma Saani | Tamil vs English,Eruma Saani,23,2017-11-12T07:08:48.000Z,"Eruma Saani|""Tamil Comedy Videos""|""Films""|""Mov...",1242680,70353,1624,2684,https://i.ytimg.com/vi/N1vE8iiEg64/default.jpg,False,False,False,This video showcases the difference between pe...
3,kJzGH0PVQHQ,17.14.11,why Samantha became EMOTIONAL @ Samantha naga ...,Filmylooks,24,2017-11-13T01:14:16.000Z,"Filmylooks|""latest news""|""telugu movies""|""telu...",464015,492,293,66,https://i.ytimg.com/vi/kJzGH0PVQHQ/default.jpg,False,False,False,why Samantha became EMOTIONAL @ Samantha naga ...
4,il_pSa5l98w,17.14.11,"MCA (Middle Class Abbayi) TEASER - Nani,Sai Pa...",Dil Raju,24,2017-11-10T04:29:50.000Z,"Nenu Local|""Nenu Local Telugu Movie""|""Nani""|""S...",6106669,98612,4185,4763,https://i.ytimg.com/vi/il_pSa5l98w/default.jpg,False,False,False,Watch MCA- Middle Class Abbayi First Look Teas...

In [21]:
df.shape

(37351, 16)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37351 entries, 0 to 37350
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                37351 non-null  object
 1   trending_date           37351 non-null  object
 2   title                   37351 non-null  object
 3   channel_title           37351 non-null  object
 4   category_id             37351 non-null  int64
 5   publish_time            37351 non-null  object
 6   tags                    37351 non-null  object
 7   views                   37351 non-null  int64
 8   likes                   37351 non-null  int64
 9   dislikes                37351 non-null  int64
 10  comment_count           37351 non-null  int64
 11  thumbnail_link          37351 non-null  object
 12  comments_disabled       37351 non-null  bool
 13  ratings_disabled        37351 non-null  bool
 14  video_error_or_removed  37351 non-null  bool
 15  description             36790 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 3.8+ MB

In [16]:
df.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [46]:
df.drop(["title","tags","thumbnail_link","description"],axis=1,inplace=True)

In [25]:
df.head()

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed
0,kzwfHumJyYc,17.14.11,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,1096327,33966,798,882,False,False,False
1,10L1hZ9qa58,17.14.11,TFPC,24,2017-11-12T15:48:08.000Z,473988,2011,243,149,False,False,False
2,N1vE8iiEg64,17.14.11,Eruma Saani,23,2017-11-12T07:08:48.000Z,1242680,70353,1624,2684,False,False,False
3,kJzGH0PVQHQ,17.14.11,Filmylooks,24,2017-11-13T01:14:16.000Z,464015,492,293,66,False,False,False
4,il_pSa5l98w,17.14.11,Dil Raju,24,2017-11-10T04:29:50.000Z,6106669,98612,4185,4763,False,False,False

In [28]:
df[:10:2]

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed
0,kzwfHumJyYc,17.14.11,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,1096327,33966,798,882,False,False,False
2,N1vE8iiEg64,17.14.11,Eruma Saani,23,2017-11-12T07:08:48.000Z,1242680,70353,1624,2684,False,False,False
4,il_pSa5l98w,17.14.11,Dil Raju,24,2017-11-10T04:29:50.000Z,6106669,98612,4185,4763,False,False,False
6,c64I9HNpiOY,17.14.11,T-Series,10,2017-11-11T06:14:19.000Z,10588371,132738,8812,10847,False,False,False
8,g8QsfJhFpjY,17.14.11,Jump Cuts,24,2017-11-12T04:30:01.000Z,969030,59798,1545,2404,False,False,False

In [60]:
df.iloc[0:5,0:7]

,video_id,trending_date,channel_title,category_id,publish_time,views,likes
0,kzwfHumJyYc,17.14.11,Lokdhun Punjabi,1,2017-11-12 12:20:39+00:00,1096327,33966
1,10L1hZ9qa58,17.14.11,TFPC,24,2017-11-12 15:48:08+00:00,473988,2011
2,N1vE8iiEg64,17.14.11,Eruma Saani,23,2017-11-12 07:08:48+00:00,1242680,70353
3,kJzGH0PVQHQ,17.14.11,Filmylooks,24,2017-11-13 01:14:16+00:00,464015,492
4,il_pSa5l98w,17.14.11,Dil Raju,24,2017-11-10 04:29:50+00:00,6106669,98612

In [110]:
df.loc["10L1hZ9qa58",0]

KeyError: '10L1hZ9qa58'

In [111]:
df.head()

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed
0,kzwfHumJyYc,17.14.11,Lokdhun Punjabi,1,2017-11-12 12:20:39+00:00,1096327,33966,798,882,False,False,False
1,10L1hZ9qa58,17.14.11,TFPC,24,2017-11-12 15:48:08+00:00,473988,2011,243,149,False,False,False
2,N1vE8iiEg64,17.14.11,Eruma Saani,23,2017-11-12 07:08:48+00:00,1242680,70353,1624,2684,False,False,False
3,kJzGH0PVQHQ,17.14.11,Filmylooks,24,2017-11-13 01:14:16+00:00,464015,492,293,66,False,False,False
4,il_pSa5l98w,17.14.11,Dil Raju,24,2017-11-10 04:29:50+00:00,6106669,98612,4185,4763,False,False,False

In [112]:
df1=df.groupby("video_id").agg({"video_id":"count"})

In [113]:
df1.head()

             video_id
video_id
#NAME?            511
#VALUE!             7
-0N9r10xb_0         2
-0WuM6ctLHg         3
-0mcgX4ro7I         2

In [114]:
df1=df1.rename({"video_id":"count"},axis=1)
df1.head()

             count
video_id
#NAME?         511
#VALUE!          7
-0N9r10xb_0      2
-0WuM6ctLHg      3
-0mcgX4ro7I      2

In [115]:
df1.sort_values(by="count",ascending=False)[1:]

             count
video_id
rRr1qiJRsXk     16
l7E0kTvARsA     14
1J76wN0TPI4     14
bYSRPuDEnTg     13
C1Pn5Ln1R4M     13
...            ...
HF1kW3-3P9A      1
HFEgXBxtRE4      1
dpmkJOYSZwI      1
HGej3-so7qs      1
zzcAq02ncAE      1

[16306 rows x 1 columns]

In [122]:
df_temp=df.set_index("video_id")
df_temp.head(5)

,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed
video_id,,,,,,,,,,,
kzwfHumJyYc,17.14.11,Lokdhun Punjabi,1,2017-11-12 12:20:39+00:00,1096327,33966,798,882,False,False,False
10L1hZ9qa58,17.14.11,TFPC,24,2017-11-12 15:48:08+00:00,473988,2011,243,149,False,False,False
N1vE8iiEg64,17.14.11,Eruma Saani,23,2017-11-12 07:08:48+00:00,1242680,70353,1624,2684,False,False,False
kJzGH0PVQHQ,17.14.11,Filmylooks,24,2017-11-13 01:14:16+00:00,464015,492,293,66,False,False,False
il_pSa5l98w,17.14.11,Dil Raju,24,2017-11-10 04:29:50+00:00,6106669,98612,4185,4763,False,False,False

In [124]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37351 entries, kzwfHumJyYc to wERgpPK44w0
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   trending_date           37351 non-null  object
 1   channel_title           37351 non-null  object
 2   category_id             37351 non-null  int64
 3   publish_time            37351 non-null  datetime64[ns, UTC]
 4   views                   37351 non-null  int64
 5   likes                   37351 non-null  int64
 6   dislikes                37351 non-null  int64
 7   comment_count           37351 non-null  int64
 8   comments_disabled       37351 non-null  bool
 9   ratings_disabled        37351 non-null  bool
 10  video_error_or_removed  37351 non-null  bool
dtypes: bool(3), datetime64[ns, UTC](1), int64(5), object(2)
memory usage: 3.9+ MB

In [134]:
#pd.to_datetime(df['trending_date'], format='%y.%m.%d')

pd.to_datetime(df['trending_date'], format= '%y.%d.%m')

0       2017-11-14
1       2017-11-14
2       2017-11-14
3       2017-11-14
4       2017-11-14
           ...
37346   2018-06-14
37347   2018-06-14
37348   2018-06-14
37349   2018-06-14
37350   2018-06-14
Name: trending_date, Length: 37351, dtype: datetime64[ns]